# Build files
.vs/
.vscode/
out/
build/
.idea/
cmake-build-*/

# Generated CMake files
CMakeSettings.json

# Application cache etc.
imgui.ini

# Nsight graphics projects
*.ngfx-proj

# Derived asset data
assets/imported/
assets/temp/
